<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id excepturi
    tempore, itaque velit tempora debitis illo. Quos, ducimus suscipit?
    Voluptate?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <img src="images/line.png" alt="" class="quote__line" />
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Muruganandham</h3>
        <p class="quote__organisation">Rounds Edge Technology Company.</p>
      </div>
    </div>
  </footer>
</blockquote>
